* {
    box-sizing: border-box;
}

html{
    background-color: rgb(17, 17, 66);
    color: rgb(163, 159, 159);

}

header {
    -bottom: 50%;
}

#image{
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
    border-radius: 25px;
}

.center {
    margin: 0 auto 0 auto;   
    text-align: center;
}

.main-text {
    font-size: 1.2em;
}

.border {
    
    
    margin-top: 8%;
    width: 80%;
    border-bottom: 1px solid rgb(163, 159, 159);
    padding-bottom: 8%;
    
}

.picture {
    max-width: 50%;
    border-radius: 25px;
    object-fit: contain;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
}

.border-text {
    max-width: 30%;
    height: auto;
    text-wrap: wrap;
}

.quote {
    font-weight: 800px;
    font-size: 1.5rem;
}

p:last-of-type, article:last-of-type {
    border: none;
    margin-bottom: 0;

} 

/*3test*/