* {
    box-sizing: border-box;
}

html{
    background-color: rgb(17, 17, 66);
    color: rgb(163, 159, 159);

}

header {
    -bottom: 50%;
}

#image{
    max-width: 100%;
    height: auto;
    display: block;
    width: 60%;
}

.center {
    margin: 0 auto 0 auto;   
    text-align: center;
}

.main-text {
    font-size: 1.2em;
}

.border {
    border: 10px solid rgb(6, 6, 17);
    margin-bottom: 3%;
    width: 80%;
    
}

.picture {
    max-width: 40%;
    height: auto;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
}

.border-text {
    max-width: 50%;
    height: auto;
}